@import url(//db.onlinewebfonts.com/c/5c8036fec9d614a90b202dbe1c3b8395?family=Stick-A-RoundW00-Stick-A-Round);
@font-face {
  font-family: "Stick-A-RoundW00-Stick-A-Round";
  src: url("//db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.eot");
  src: url("//db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.svg#Stick-A-RoundW00-Stick-A-Round")
      format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Stick-A-RoundW00-Stick-A-Round", sans-serif;
}

/* Header styling including navbar */
.header {
  font-family: Helvetica, sans-serif;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3.1rem;
  position: sticky;
  top: 0;
  border-bottom: 0.18rem outset #f30501;
  z-index: 2;
}

.header .menu-icon {
  display: none;
  color: #f30501;
}

.logo-icon {
  width: 45px;
  padding-bottom: 10px;
}

.navbar {
  flex-grow: 2;
  padding: 0 5%;
  font-size: 1.1rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #f30501;
  padding: 1.02rem 0.43rem;
}

.navbar li a:hover {
  color: #fff;
  background: #f30501;
}

.icon-search {
  color: #f30501;
}

/* Main Section */
.introduction {
  background: url("https://asset-eu.unileversolutions.com/content/dam/unilever/heart/netherlands/general_image/walls_nl_header-1382974-jpg.jpg.ulenscale.960x240.jpg")
    no-repeat center center / cover;
  color: #fff;
  display: flex;
  height: 250px;
}

.introduction h1 {
  font-size: 3rem;
  align-self: center;
  padding-left: 25%;
  flex: 1 0 25%;
  width: 100%;
}

/* Main Section: Products */
.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-height: 100%;
  background: #f30501;
}

.products .ice {
  display: flex;
  flex: 0 0 25%;
  max-height: 400px;
}

.products img {
  max-width: 100%;
  max-height: 100%;
}

.history_wrapper {
  background: green;
}

/* Section: History about Ola */
.history {
  display: flex;
  align-items: center;
  background: #46a916;
  padding: 2rem 2rem;
  max-width: 100%;
  color: #fff;
  font-size: 1.1rem;
  text-transform: capitalize;
  flex-basis: 50%;
  flex-shrink: 0;
}

.history-information h2 {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.history-image {
  max-width: 50%;
}

.history-information {
  text-align: left;
  padding: 0 0 0 2rem;
}

.history-information a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.arrow-left {
  padding-left: 10px;
}

.arrow-left:hover {
  margin-left: -10px;
}

/* Section  description about Ola's ice creams */
.description {
  display: flex;
  flex-direction: column;
  background: #fd0;
  padding: 1.8rem 0;
}

.heading-description {
  text-align: center;
  color: #f30501;
  font-size: 1.9rem;
}

.heading-description-images {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.description .description-images {
  align-items: center;
  display: flex;
  padding: 1.8rem 0;
}

.description-images h2 {
  color: #fff;
}

.description-gluten-free {
  position: relative;
  align-self: flex-start;
}

.description-for-children {
  position: relative;
}

.description .heading-description-images {
  position: absolute;
}

.description-gluten-free h3,
.description-for-children h3 {
  bottom: 20%;
  right: 45%;
}
.description-for-children h3 {
  right: 15%;
}

.description-gluten-free img,
.description-for-children img {
  width: 100%;
}

.description a {
  align-self: center;
  color: #f30501;
  text-decoration: none;
  border: 1px solid #f30501;
  padding: 0.625rem 1.25rem;
  border-radius: 1rem;
  text-transform: lowercase;
}

.description a:hover {
  background-color: rgb(255, 234, 100);
  color: #f30501;
}

/* footer */
.footer {
  background: #f30501;
  border-top: 0.18rem outset #f30501;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.7rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-left: 1.5rem;
}

.footer-container ul {
  list-style: none;
}

.footer-container ul li {
  padding: 0.2rem;
}

.footer-container ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 1.2rem;
}

.social-media-footer {
  padding-right: 0.5rem;
}

.country-selection {
  display: block;
  padding-bottom: 1.5rem;
}

.country-selection img {
  width: 30px;
  height: 30px;
}

.instagram img {
  width: 30px;
  height: 30px;
}

.wrapper-footer {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.wrapper-footer p {
  padding-bottom: 1rem;
}

.wrapper-footer .button-cookies {
  background-color: rgb(0, 125, 187);
  border-radius: 0.31rem;
  text-decoration: none;
  color: #fff;
  padding: 0.625rem 0.625rem;
  font-size: 0.9rem;
}

/* Mobile styling */
@media (max-width: 770px) {
  .header {
    justify-content: space-between;
  }

  .header .menu-icon {
    display: block;
  }

  .header .logo-icon {
    margin-bottom: 10px;
  }

  .navbar {
    display: none;
  }

  .products {
    max-width: 100%;
    max-height: 100%;
  }

  .products .ice {
    flex: 0 1 50%;
    max-height: 300px;
  }

  .history {
    display: block;
  }

  .history-image {
    min-width: 100%;
  }

  .history-information {
    text-align: center;
  }

  .description .description-images {
    padding: 5% 20% 5% 0;
  }

  .description .heading-description-images {
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
  }

  .unilever-logo {
    display: none;
  }

  .logo-footer img {
    width: 10%;
  }
}

@media screen and (min-width: 1000px) {
  .description .description-images {
    padding-left: 2%;
  }
}

@media (max-width: 450px) {
  .products .ice {
    max-height: 200px;
  }
}
